@import 'variables.scss';
@import 'mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700|PT+Sans:400,400i,700,700i|Noto+Sans:400,400i,700,700i|Pacifico&subset=cyrillic-ext');

html {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

body {
	position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: $main-bg;
	font-family: 'PT Sans','Helvetica Neue', Helvetica, Arial, sans-serif
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 35px;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
	margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.1;

  @media (min-width: 768px) {
		margin: 0 0 15px;
    font-size: 18px;
    line-height: 1.3;
  }
}

a {
	color: $primary;
  transition: all 0.2s ease-in-out;

  &:focus, &:hover {
		color: darken($primary, 20%);
    text-decoration: none;
  }
}

.grow-1 {
	flex-grow: 1;
}

#mainNav {
	margin-bottom: 0;
	font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
  border-bottom: 1px solid fade-out(white, .7);
  background-color: $main-bg;

  .navbar-toggler {
		padding: 11px;
    font-size: 14px;
    color: white;
    border: 1px solid white;
  }

  .navbar-brand {
    font-weight: 700;
  }

  a {
    color: white;
  }

  .navbar-nav {
    .nav-item {
			.nav-link {
				position: relative;
				margin-left: 5px;
				padding-left: 20px;
				padding-right: 20px;
				transition: background 0.3s ease-in-out;

				&::before, &::after {
					content: '';
					position: absolute;
					bottom: 2px;
					height: 1px;
					width: 0;
					background-color: #fff;
					transition: .3s;
				}

				&::before {
					right: 50%;
				}

				&::after {
					left: 50%;
				}

				span {
					display: block;
					transition: .3s;
				}

				&.active, &:hover, &:focus {
					outline: none;
					background-color: transparent;

					&::before {
						width: 50%;
					}

					&::after {
						width: 50%;
					}

					span {
						transform: scale(1.1);
					}
				}
			}
    }
  }
  @media (min-width:992px) {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;

    &.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid fade-out(white, .7);
      background: $main-bg;
    }
  }
}

.masthead {
	height: 100vh;	// vh - viewport height высота видимой области страницы 100 максимальное значение 0 минимальное
	display: flex;
	align-items: stretch;
	justify-content: center;
  text-align: center;
  color: white;
	text-shadow: 1px 1px 1px #000;
	background-image: url(../img/main-image.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
  background-color: black;
  background-size: cover;

  .intro-body {
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-grow: 1;	// занять все доступное пространство если родитель display: flex;
		background-color: rgba(0,0,0,0.4);	// a = alpha channel (прозрачность 40%)

		.intro-items {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			flex-grow: 1;

			.intro-items-top {
				display: flex;
				flex-direction: column;
				justify-content: center;
				flex-grow: 1;
			}
		}

    .brand-heading {
			font-family: 'Jura', sans-serif;
			font-size: 50px;
			line-height: 1;
			margin-top: 10%;
			margin-bottom: 0;
    }

    .intro-text {
			font-family: 'Jura', sans-serif;
      font-size: 18px;
    }
  }

  @media (min-width:768px) {
    height: 100%;
    padding: 0;

    .intro-body {
      .brand-heading {
        font-size: 120px;
      }

      .intro-text {
        font-size: 70px;
      }
    }
  }
}

.btn-circle {
	margin-bottom: 25px;
  font-size: 26px;
  width: 55px;
  height: 55px;
  line-height: 45px;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;

  &:focus, &:hover {
    color: white;
    outline: none;
    background: fade-out(white, .9);
  }
}

.content-header {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 30px;
	font-size: 2rem;
	line-height: 1.2;
	font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
	text-align: center;

	&::before {
		content: '';
		position: absolute;
		left: calc(50% - 80px);
		bottom: 0;
		width: 160px;
		max-width: 80%;
		height: 2px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}
}

.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
	background-color: #f8f9fa;
	color: #000;

	@media (min-width: 992px) {
		.content-section {
			padding-top: 100px;
			padding-bottom: 100px;
		}

		#map {
			height: 350px;
		}
	}

	a {
		color: $link-color;

		&:focus, &:hover {
			color: darken($link-color, 20%);
			text-decoration: none;
		}
	}
}

.show-more-section {

}

.city-preference {
	.preference-row	{
		$bg-side-padding: 120px;

		margin-bottom: 2rem;
		padding: 0.5rem 3rem;
		padding-right: $bg-side-padding;
		// background-color: #fff;
		// box-shadow: $box-shadow;
		font-size: 0.8rem;
		line-height: 1;
		background-repeat: no-repeat;
		background-size: 40px;
		background-image: url(../img/arr-left.png);
		background-position: calc(100% - 40px) 50%;

		&.left-image {
			padding-left: $bg-side-padding;
			background-image: url(../img/arr-right.png);
			background-position: 40px 50%;

			.rounded-circle {
				margin-left: 0;
				margin-right: 3rem;
			}
		}

		.preference-row-title {
			font-size: 1.6rem;
			margin-bottom: 1rem;
			line-height: 1;
		}
	}

	.rounded-circle {
		$image-size: 250px;

		width: $image-size;
		min-width: $image-size;
		height: $image-size;
		margin-left: 2rem;	// rem - относительные единицы измерения. 1rem = font-size в html
		box-shadow: $box-shadow-strong;
	}
}

.romance-section {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	height: 100vh;
	min-height: 500px;
	width: 100%;
  color: white;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.4);
		z-index: 1;
	}

	.romance-section-text {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 50%;
		right: 0;
		bottom: 0;
		z-index: 2;
		max-width: 1700px;
		padding: 1.5rem 1rem;
		font-family: 'Pacifico', cursive;
		font-size: 5rem;
		line-height: 1.4;
		transform: translateX(-50%);
		text-shadow: 1px 1px 1px #000;
	}

	.romance-section-image {
		width: 50%;
		height: 50%;
		background-size: cover;
		background-position: center;

		&.image1 {
			background-image: url(../img/collage1.jpg);
		}

		&.image2 {
			background-image: url(../img/collage2.jpg);
		}

		&.image3 {
			background-image: url(../img/collage3.jpg);
		}

		&.image4 {
			background-image: url(../img/collage4.jpg);
		}
	}
}

#map {
  width: 100%;
  height: 300px;
}

.btn {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;

  border-radius: 0;
}

.btn-default {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;
  &:focus,
  &:hover {
    color: black;
    border: 1px solid $primary;
    outline: none;
    background-color: $primary;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
  @media(max-width: 1199px) {
    margin-top: 15px;
  }
  @media(max-width:767px) {
    li {
      display: block;

      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
